@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.wrapper {
  padding: 0px 35px 0px 35px;
  position: relative;
  overflow-x: hidden;
  /* max-width: 1000px; */
  background: #fff;
  border-radius: 13px;
  border: 1px solid #d8d5f2;
}
.wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}
.icon:first-child {
  left: 0;
  /* display: none; */
  justify-content: flex-start;
  /* background: linear-gradient(90deg, #fff 70%, transparent); */
}
.icon:last-child {
  right: 0;
  justify-content: flex-end;
  /* background: linear-gradient(-90deg, #fff 70%, transparent); */
}
.icon img {
  width: 55px;
  height: 90px;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  line-height: 55px;
  /* border-radius: 50%; */
  background-color: rgb(245 158 11);
}
.icon img:hover {
  background: #efedfb;
}
.icon:first-child img {
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px 0px 0px 10px;
}
.icon:last-child img {
  padding: 20px;
  margin-left: 20px;
  border-radius: 0px 10px 10px 0px;
}
.wrapper .tabs-box {
  display: flex;
  /* gap: 12px; */
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box .tab {
  cursor: pointer;
  font-size: 1.5rem;
  white-space: nowrap;
  background: #fff;
  padding: 8px 29px;
  /* border-radius: 30px; */
  border: 1px solid #d8d5f2;
}
.tabs-box .tab:hover {
  background: #efedfb;
}
.tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}
.tabs-box .tab.active {
  /* color: #fff; */
  color: #5372f0;
  border-color: #5372f0;
  background: #f5f4fd;
}